/* variables */
:root {
    --vert: #17CD28;
    --bordeaux: #933645;
    --fond-blanc: #FFF;
    --fond-creme: #dedddd;
    --fond-footer: #0C0B0B;
}

/* oswald-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/oswald-v53-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* megan June (rajouter le fonts/) */
@font-face {
    font-family: 'megan_juneregular';
    src: url('fonts/megan_june-webfont.woff2') format('woff2'),
         url('fonts/megan_june-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

body {
    font-family: 'Oswald';
    font-size: 18px; 
}

.container {
    max-width: 1200px; /*si écran > 1200px */
    width: 100%;
    margin: 0 auto;
}
h1, h2,h3 {
    font-family: 'megan_juneregular';
}

/* ===============header============== */
#bandeau {
    display: flex;
    justify-content: space-between;
    font-family: 'megan_juneregular';
}
#bandeau h1 {
    width: 20%;
}
#bandeau h1 a{
    font-size: 3.5rem;
    color: black;
    border-bottom: 14px solid var(--bordeaux);
    margin-left: 30px;
}
#bandeau #menuPrincipal {
    width: 60%;
}
#burger {
    text-align: right;
    font-size: 3rem;
    margin: 15px;
    margin-top: 10px;
    margin-right: 15px;
}
#bandeau #menuPrincipal ul{
    display: flex;
    font-size: 2.2rem;
    text-transform: uppercase;
    display: none;
}
#bandeau #menuPrincipal ul.on {
    flex-direction: column;
    justify-content: center;
}
#bandeau #menuPrincipal ul li {
    margin-left: 5%;
    line-height: 65px;
}
#bandeau #menuPrincipal ul li a {
    color: black;
    font-weight: normal;
}
#bandeau #menuPrincipal ul li a:hover,
#bandeau #menuPrincipal ul li a.choix {
    border-bottom: 14px solid var(--vert);
    padding-bottom: 5px;
}
/* =========slider============ */
.slider-wrapper{
    margin-top: 15px;
    background-color: var(--fond-creme);
}
.nivo-caption h2,
.nivo-caption p {
    display: none;
}
.nivo-caption {
    padding: 20px;
    background: transparent;
    bottom: 40%;
    left: 35%;
}
.nivo-caption h2 {
    text-transform: uppercase;
    font-size: 6rem;
}
.nivo-caption p {
    font-family: 'megan_juneregular';
    font-size: 2rem;
}
.nivo-caption #pro {
    border-bottom: 14px solid var(--fond-blanc);
    padding-bottom: 10px;
    color: var(--vert);
}
/* changement des puces */
.theme-default .nivo-controlNav a {
    background: url(images-garden/blanc.jpg);
}
.theme-default .nivo-controlNav a.active{
    background: url(images-garden/rouge.jpg);
}    

/* =================bloc d'articles================== */
#blocArticles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fond-creme);
}
#blocArticles article {
    background-color: var(--fond-blanc);
    width: 33%;
    padding: 70px;
    border: 1px solid grey;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#blocArticles article .titreBlocs {
    text-transform: uppercase;
}
#blocArticles article hr{
    width: 20%;
    background-color: var(--bordeaux);
    border: none;
    height: 5px;
    margin: 10px 0;
}
#blocArticles article img {
    width: 50px;
    margin: 0 auto 50px;
}

/* ===============design paysage============== */
#design {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#design #titreEtImage {
    width: 40%;
}
#design #titreEtImage img {
    display: none;
    width: 300px;
}
#design #texteDesign {
    width: 60%;
    margin-bottom: 80px;
}
#design #titreDesign {
    width: 250px;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 50px 20px;
}
#design #texteDesign hr {
    display: block;
    width: 40px;
    height: 5px;
    background-color: var(--bordeaux);
    border: none;
    margin-top: 10px;
    margin-bottom: 60px;
}
#design #texteDesign p{
    
    margin-bottom: 50px;
}
#design #texteDesign ul {

    margin-bottom: 50px;
}
#design #texteDesign ul li {
    font-family: 'megan_juneregular';
    font-size: 1.5rem;
    line-height: 35px;
    background: url(images-garden/feuille-picto.jpg) no-repeat;
    background-size: 30px;
    background-position: left 10px;
    padding-left: 45px;
    
}
#design #texteDesign #boutonDesign {
    color: white;
    background-color: var(--vert);
    padding: 10px 5px;
    border-radius: 10px;
}
/* ====================pub======================== */
#pub {
    width: 100%;
    min-height: 200px;
    background: url(images-garden/home-05.jpg);
    background-size: cover;
}
/* ============footer============== */
footer {
    background-color: var(--fond-footer);
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    box-sizing: border-box;
}
footer #refs address {
    font-style: normal;
}
footer #refs address,
footer #copyright p {
    font-family: 'megan_juneregular';
    color: white;
}
footer #refs i {
    color: var(--vert);
}
footer #copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    line-height: 30px;
}
footer #copyright #ml {
    color: #FFF;
}
footer #copyright #fleche {
    width: 30px;
}

/* ===============galerie============ */
#paysages #galerieHeader {
    margin-top: 40px;
}

#paysages #galerieHeader h2 {
    font-size: 3rem;
    margin: 20px;
}
#paysages #galerieHeader #menuPaysages ul{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #CCC;
    margin-bottom: 50px;
}
#paysages #galerieHeader #menuPaysages li {
    margin: 20px 20px 40px;
}
#paysages #galerieHeader #menuPaysages li a:hover,
#paysages #galerieHeader #menuPaysages li a.on {
    background-color: green;
}
#paysages #galerieHeader #menuPaysages li a {
    color: white;
    text-transform: uppercase;
    background-color: var(--vert);
    border-radius: 5px;
    padding: 5px 10px;
}
.containerGrid {
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(auto-fill, 290px);
    gap: 10px;
    justify-content: center;
}
.containerGrid .item p {
    font-size: 1rem;
}
.item {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .2);
}
.containerGrid .item:hover{
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.4);
}
.item h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.item img{
  width: 100%;
  margin-top: 10px;
  border-radius: 0 0 10px 10px;
}

/* ===============contact=============== */
#titreContact {
    font-size: 3rem;
    margin: 20px;
}
.mainContact p{
    width: 80%;
    margin: auto;
}
#formContact {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formContact p {
    border: solid 1px var(--vert);
    width: 80%;
    margin: 8px 8px;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 1.1rem;
}
#formContact p input:focus {
    outline:none
}
#formContact textarea:focus {
    outline: none
}
#formContact p:nth-of-type(2),
#formContact p:nth-of-type(4) {
    border: none;
    width: 83.5%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
#formContact p:nth-of-type(2) input,
#formContact p:nth-of-type(4) input {
    width: 46%;
    padding: 16px 32px 12px 12px;
    border: solid 1px var(--vert);
    border-radius: 20px;
    margin-right: 10px;
}
#formContact p input::placeholder {
    color: rgb(0, 0, 0);
    /* opacité du placeholder par défaut est en dessous de 1 */
    opacity: 1;
    font-family: 'Oswald';
    font-size: 1.1rem;
}
#formContact textarea {
    width: 100%;
    border: none;
    font-family: 'Oswald';
    font-size: 1.1rem;
}
#formContact textarea::placeholder {
    color: rgb(0, 0, 0);
    /* opacité du placeholder par défaut est en dessous de 1 */
    opacity: 1;
    font-family: 'Oswald';
    font-size: 1.1rem;
}
#formContact p:nth-of-type(5) input {
    border: none;
    width: 100%;
}
#formContact p select {
    background: none;
    border: none;
    width: 100%;
}
#formContact p label {
    display: inline-block;
    margin: 0 5px 0 10px;
}
#formContact p:nth-of-type(8), 
#formContact p:nth-of-type(9) {
    border: none;
}
#formContact p:nth-of-type(9) {
    text-align: right;
}
#formContact .bouton {
    border: none;
    background-color: var(--vert);
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
    font-family: 'Oswald';
    font-size: 1.4rem;
}
#formContact a {
    color: black;
}
#formContact a:hover {
    text-decoration: underline;
}
#formContact p select {
    font-family: 'Oswald';
    font-size: 1.2rem;
}
#formContact p select option.taille {
    font-family: 'Oswald';
    font-size: 1.1rem;
}
#formContact #boutonEnvoyer {
    background-color: aquamarine;
}
@media screen and (min-width: 768px) {
    /* ==================header============= */
   #bandeau #menuPrincipal ul.on{
    flex-direction: row;
    justify-content: flex-end;
   }
   #bandeau #menuPrincipal ul {
    display: flex;
    justify-content: flex-end;
   }
   #menuPrincipal #burger{
    display: none;
   }
   #bandeau #menuPrincipal ul li a{
    padding-bottom: 14px;
   }
   /* =========slider============ */
   .nivo-caption h2,
   .nivo-caption p {
    display: block;
   }
   /* ===============blocArticle=================== */
   #blocArticles {
    display: flex;
    flex-direction: row;
   }
   /* ===========bloc design================= */
   #design {
    flex-direction: row;
   }
   
   #design #titreEtImage img{
    display: block;
   }

   #design #texteDesign hr {
    margin-top: 60px;
   }
   #design #texteDesign p {
    margin-right: 80px;
    margin-bottom: 50px;
   }
   #design #texteDesign ul {
    columns: 2;
   }
}